version: "3.7"
services:
  pz-server:
    image: danixu86/project-zomboid-dedicated-server:latest
    build: .
    container_name: pz-server
    ports:
      - "16261:16261/udp"
      - "16262:16262/udp"
      - "27015:27015"
    volumes:
      - ./data:/home/steam/Zomboid
      - ./local-mods:/home/steam/Zomboid/mods
      - ./scripts:/server/scripts
      - ./workshop-mods:/home/steam/pz-dedicated/steamapps/workshop
    environment:
      - ADMINPASSWORD=admin123
      - SERVERNAME=servertest
      - STEAMAPPBRANCH=${STEAMAPPBRANCH}
      - FORCEUPDATE=${FORCEUPDATE}
      - LANG=es_ES.UTF-8
      - LC_ALL=es_ES.UTF-8
      - STEAM_LOGIN=
      - STEAM_PASSWORD=
    restart: unless-stopped

