services:
  pz-server:
    build:
      context: .
      args:
        STEAMAPPBRANCH: ${STEAMAPPBRANCH:-unstable}
    container_name: pz-server
    ports:
      - "16261:16261/udp"
      - "16262:16262/udp"
      - "27015:27015"
    volumes:
      - ./data:/home/steam/Zomboid
      - ./local-mods:/home/steam/Zomboid/mods
      - ./scripts:/server/scripts
      - ./workshop-mods:/home/steam/pz-dedicated/steamapps/workshop
    environment:
      - ADMINPASSWORD=admin123
      - SERVERNAME=servertest
      - STEAMAPPBRANCH=${STEAMAPPBRANCH:-unstable}
      - FORCEUPDATE=${FORCEUPDATE}
      - AUTOUPDATE_MODS=${AUTOUPDATE_MODS:-0}
      - AUTOUPDATE_INTERVAL=${AUTOUPDATE_INTERVAL:-1800}
      - AUTOUPDATE_START_DELAY=${AUTOUPDATE_START_DELAY:-300}
      - AUTOUPDATE_BACKUP=${AUTOUPDATE_BACKUP:-1}
      - AUTOUPDATE_GRACE_SECONDS=${AUTOUPDATE_GRACE_SECONDS:-1800}
      - AUTOUPDATE_GRACE_POLL=${AUTOUPDATE_GRACE_POLL:-60}
      - AUTOUPDATE_GRACE_ANNOUNCE_INTERVAL=${AUTOUPDATE_GRACE_ANNOUNCE_INTERVAL:-300}
      - RCON_ENABLED=${RCON_ENABLED:-0}
      - RCON_HOST=${RCON_HOST:-127.0.0.1}
      - RCON_PORT=${RCON_PORT:-27015}
      - RCON_PASSWORD=${RCON_PASSWORD:-}
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
    restart: unless-stopped
