services:
  pz-server:
    build:
      context: .
      args:
        STEAMAPPBRANCH: ${STEAMAPPBRANCH:-unstable}
    container_name: pz-server
    ports:
      - "16261:16261/udp"
      - "16262:16262/udp"
      - "27015:27015"
    volumes:
      - ./data:/home/steam/Zomboid
      - ./local-mods:/home/steam/Zomboid/mods
      - ./scripts:/server/scripts
      - ./workshop-mods:/home/steam/pz-dedicated/steamapps/workshop
    environment:
      - ADMINPASSWORD=admin123
      - SERVERNAME=servertest
      - STEAMAPPBRANCH=${STEAMAPPBRANCH:-unstable}
      - FORCEUPDATE=${FORCEUPDATE}
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
    restart: unless-stopped
